Temp/
obj/
Library/
unity_project/LocalLog/
bin/ 
*.unityproj 
*.swp
*.swo 
*.csproj
~*
*.sdf
*.opensdf
*.opendb 
.vs
unity_project/Assets/Lib/ToLua/Source/Generate/*.cs.meta
unity_project/Assets/HelloWorld.config
unity_project/Assets/HelloWorld.luaproj
unity_project/Assets/HelloWorld.sln
unity_project/Assets/HelloWorld.config.meta
unity_project/Assets/HelloWorld.luaproj.meta
unity_project/Assets/HelloWorld.sln.meta
unity_project/Assets/HelloWorld.luaproj.user
unity_project/Assets/HelloWorld.luaproj.user.meta
unity_project/Assets/Docs/luaCode/data/const/*.lua
unity_project/Assets/Docs/Table/*
/unity_project/Assets/HelloWorld.VC.VC.opendb.meta
/unity_project/Assets/HelloWorld.VC.db
/unity_project/Assets/HelloWorld.VC.db.meta
*.sln
*.meta~*
unity_project/fmod_editor.log
unity_project/fmod_editorr.log
/build
luastudio/lua.luaprj
/unity_project/Assets/Docs/.vscode
